In [1]:
import pandas as pd

In [6]:
data=pd.read_excel(r'C:\Users\Ali\Desktop\data1.xlsx')
data.head()

        date  code   product  shop      volume
0 2023-10-01   125  345RQOY8    18    1791.000
1 2023-07-01     5   1OA43KI    18    1080.000
2 2023-10-01   135  3TD7R02J    16    7605.000
3 2023-10-01    37  1CA6IU4Y    16    6352.500
4 2023-07-01     5   HGDJ1PU    16  293243.895

In [82]:
grouped=data.sort_values(by='shop', ascending=True)


#function to find the max volume of the same shop
def maxi(df,number):
     max_vol=df[df['shop']==number]['volume'].max()
     return 'Max is:', df[df['volume']==max_vol]

In [37]:
grouped[grouped['code']==179].sort_values(by='volume',ascending=False)

In [40]:
#grouped.info()
#grouped.describe()

In [78]:
grouped.iloc[24790].to_frame().transpose()

                      date code   product shop    volume
15464  2023-04-01 00:00:00   37  1CA6IU4Y   16  3344.205

           date  code   product  shop       volume
8308 2023-04-01   179  63GD5DWX    13  52088461.38